{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body style="background-color:#c7c5c5">
        <img src="{% static 'autobus-mhd2.png' %}" id="image-background">
        <header>
        <nav class="navv">
            <ul>
                <a href="{% url "index" %}">Titulní Strana</a>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <a href="{% url "admin:index" %}">Administrace</a>
                    {% endif %}
                    <a href="{% url "add_station" %}">Přidat Zastávku</a>
                    <a href="{% url "password_change" %}">Změna hesla</a>
                    <a href="{% url "logout" %}">Odhlášení</a>
                {% else %}
                    <a href="{% url "registration" %}">Registrace</a>   
                    <a href="{% url "login" %}">Přihlášení</a>
                {% endif %}
            </ul>
        </nav>
    </header>
        <main>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                 {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
