{% extends "base.html" %}

{% block content %}
<div class="titlea">
    <h1>{% block title %}Jízdní řády MHD{% endblock %}</h1>
</div>
    {% if user.is_authenticated %}
        <ul>
        {% for station in stations %}
            <li><a href="{% url "detail" station.id %}">{{ station.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="tscontent">
    <p>Toto je titulní strana našeho projektu jízdního řádu MHD.</p>
    <p>Vítáme vás na stránce která Vám přináší jízdní řády MHD.</p>
</div>
    {% endif %}
{% endblock %}
